language: node_js
node_js:
  - "0.10"
services: mongodb
install:
  - "git clone https://github.com/meteor/meteor.git ~/meteor"
  - "export PATH=~/meteor/:$PATH"

  - "npm install -g velocity-ci"
  - "npm install -g meteorite"
  - "mrt update"

script: velocity
